@model IEnumerable<ProyectAdmin.BL.DTOs.ProductDTOs.ProductSearchOutputDTO>

@{
    ViewData["Title"] = "Index";
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.WarningMessage))
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.WarningMessage
    </div>
}
<!-- Vista Razor donde quieres mostrar la alerta -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Product" class="btn btn-warning"><i class="bi bi-arrow-left"></i>Create new product</a>
</p>
<div class="row">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.NameProduct</h5>
                        <img width="250" height="150" src="http://localhost:7150/images/@item.ImageUrl" />
                        <p class="card-text">@item.Price</p>
                        <p class="card-text"><strong>@item.Price.ToString("C")</strong></p>
                        <p class="card-text"><strong>Stock: </strong>@item.Quantity</p>
                        <a asp-action="Details" asp-route-id="@item.IdProduct" class="btn btn-info">View details</a>
                        <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.IdProduct" class="btn btn-warning"><i class="bi bi-arrow-left"></i>Edit</a>
                        <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.IdProduct" class="btn btn-warning"><i class="bi bi-arrow-left"></i>Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
