@model IEnumerable<ProyectAdmin.BL.DTOs.ProductDTOs.ProductSearchOutputDTO>

@{
    ViewData["Title"] = "Index";
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.WarningMessage))
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.WarningMessage
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<style>
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-img-top {
        height: 200px; /* Establece una altura fija para todas las imágenes */
        object-fit: cover; /* La imagen se ajustará para cubrir todo el espacio disponible */
    }

    .card-body {
        flex: 1; /* El cuerpo de la tarjeta ocupará todo el espacio disponible verticalmente */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra el contenido verticalmente */
    }

    .titulo-grande {
        font-size: 2.5rem; /* Tamaño grande para el título */
        margin-bottom: 20px; /* Espacio inferior */
    }

</style>

<h1 class="text-center titulo-grande">PRODUCTOS DE NUESTRO CATÁLOGO</h1>
<a asp-action="Create" asp-controller="Product" class="btn btn-outline-dark btn-block"><i class="bi bi-arrow-left"></i> Añadir</a>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <a asp-action="DetailsPartial" asp-route-id="@item.IdProduct">
                    <img class="card-img-top product-image" src="@item.ImageUrl" alt="@item.NameProduct">
                </a>
                <div class="card-body" style="font-family: var(--bs-font-sans-serif);">
                    <h5 class="card-title text-center" style="color: #131313;">@item.NameProduct</h5>
                    <p class="card-text"><strong>Dimensiones: </strong>@item.Dimensions</p>
                    <p class="card-text" style="color: #ff17c1;">@item.Price.ToString("C")</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Create" asp-controller="PushesOrder" asp-route-id="@item.IdProduct" class="btn btn-primary">Reservar</a>
                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.IdProduct" class="btn btn-success"><i class="bi bi-pencil"></i> Editar</a>
                    <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.IdProduct" class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</a>

                </div>
            </div>
        </div>
    }
</div>
